md-content.md-padding(ng-controller='admin_Part_A')
  div(layout='row' layout-align="end center")
    div(flex='')
      h2 Información Personal y Familiar
  div(layout='row' layout-align="end center")
    md-card
      md-card-content
        canvas(id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-type="pie")
