md-content.md-padding(ng-controller='Part_B')
  div(layout='row' layout-align="end center")
    div(flex='')   
      h2 Competencias
    div(flex='row' layout='row' layout-align="end center")
      md-button(class="md-raised md-primary" ng-click='previous()') Regresar
      md-button(class="md-raised md-primary" ng-click='enviar()') Continuar
    div
      h4 Nivel de dominio de un segundo idioma
