md-content.md-padding(ng-controller='Part_B')
  div(layout='row' layout-align="end center")
    div(flex='')   
      h2 Competencias
    div(flex='row' layout='row' layout-align="end center")
      md-button(class="md-raised md-primary" ng-click='previous()') Regresar
      md-button(class="md-raised md-primary" ng-click='enviar()') Continuar
  div()        
    md-grid-list(md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px")
