md-content.md-padding(ng-controller='Part_C')
  div(layout='row' layout-align="end center")
    div(flex='')   
      h2 Plan de vida
    div(flex='row' layout='row' layout-align="end center")
      md-button(class="md-raised md-primary" ng-click='previous()') Regresar
      md-button(class="md-raised md-primary" ng-click='enviar()') Continuar
  div(layout='row' layout-align="end center")
    div(flex='')
      md-card
        md-card-title
          span 1. ¿Qué ha pensado hacer en el largo plazo? (múltiple respuesta)
        md-card-content(layout='column')
          md-checkbox(ng-model='long_term') Iniciar una nueva carrera técnica
          md-checkbox(ng-model='long_term') Iniciar una nueva carrera tecnológica
          md-checkbox(ng-model='long_term') Iniciar una nueva carrera universitaria
          md-checkbox(ng-model='long_term') Estudiar un posgrado en Colombia
          md-checkbox(ng-model='long_term') Estudiar un posgrado fuera de Colombia
          md-checkbox(ng-model='long_term') Trabajar en Colombia
          md-checkbox(ng-model='long_term') Trabajar fuera de Colombia
          md-checkbox(ng-model='long_term') Crear una empresa
          md-checkbox(ng-model='long_term') Otro
    div(flex='')
      md-card
        md-card-title
          span 2. ¿Desde el momento del primer grado de Educación Superior, cuáles actividades de formación ha realizado? (múltiple respuesta)
        md-card-content(layout='column')
          md-checkbox(ng-model='activity') Seminarios/Cursos
          md-checkbox(ng-model='activity') Diplomados
          md-checkbox(ng-model='activity') Técnicos
          md-checkbox(ng-model='activity') Tecnológicos
          md-checkbox(ng-model='activity') Universitarios
          md-checkbox(ng-model='activity') Especialización
          md-checkbox(ng-model='activity') Maestría
          md-checkbox(ng-model='activity') Doctorado
          md-checkbox(ng-model='activity') Ninguna
