html(lang='en' ng-app='Questions')
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Angular Material style sheet
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css')
    link(rel="stylesheet", href="/client/css/style.css")
    link(rel="stylesheet", href="http://jtblin.github.io/angular-chart.js/dist/angular-chart.css")
    block title
      title Questions
  body()
    div(layout='row')
      md-toolbar
        .md-toolbar-tools Bienvenidos a Seguimiento de graduados
    div(ng-view)
    // Angular Material requires Angular.js Libraries
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js')
    // Angular Material Library
    script(src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js')
    script(src='http://jtblin.github.io/angular-chart.js/dist/angular-chart.js')
    // Your application Config
    script(src='/client/js/app.js')
    // Your application Controllers
    script(src='/client/js/controllers/admin.js')
    script(src='/client/js/controllers/main.js')
    script(src='/client/js/controllers/signin.js')
    script(src='/client/js/controllers/part_a.js')
    script(src='/client/js/controllers/part_b.js')
    script(src='/client/js/controllers/part_c.js')
    script(src='/client/js/controllers/part_d.js')
    script(src='/client/js/controllers/part_e.js')
    script(src='/client/js/controllers/part_f.js')
    // Your application Services
    script(src='/client/js/services.js')
    
