html(lang='es' ng-app='Questions')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Angular Material style sheet
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css')
    link(rel="stylesheet", href="/client/css/style.css")
  body()
    div(layout='row')
      md-toolbar
        .md-toolbar-tools Bienvenidos a Seguimiento de graduados 
    div(layout='row')
      md-content(style='width:100%')
        md-tabs(md-dynamic-height='', md-border-bottom='')
          //Formulario Parte A
          md-tab(label='Personal y Familiar')
            md-content.md-padding   
              h2 Información Personal y Familiar
              div(ng-controller='Part_A')        
                div(layout='row')
                  div(flex='') 
                    h4 1. Estado civil actual:
                    md-radio-group(ng-model="civil_state")
                      md-radio-button(value='Soltero(a)') Soltero(a)
                      md-radio-button(value='Casado(a)/ Unión libre') Casado(a)/ Unión libre
                  div(flex='')
                    h4 2. Número de hijos:
                    md-input-container
                      label Numero
                      input(ng-model="children_num" type="number" step="1")
                  div(flex='')
                    h4 3. La vivienda donde vive actualmente es:
                    md-input-container
                      label Vivienda
                      md-select(ng-model="housing")
                        md-option(ng-repeat="option in housingOptions" value="{{option}}") {{option}}
                div(layout='row')
                  div(flex='')
                    h4 4. ¿Tiene usted alguna de las siguientes limitaciones permanentes? (múltiple respuesta)
                    md-checkbox(ng-click="toggle('No Tengo', limitations)") No Tengo 
                    div(ng-repeat="item in limitationsOptions" ng-hide="exists('No Tengo', limitations)")
                      md-checkbox(ng-checked="exists(item, limitations)" ng-click="toggle(item, limitations)") {{ item }} 
                      span(ng-if="exists(item, limitations)") selected
                  div(flex='') {{limitations}}              
          //Formulario Parte B
          md-tab(label='Competencias')
            md-content.md-padding              
              p Aqui Va el lindo conteido
              
          //Formulario Parte C
          md-tab(label='Plan de Vida')
            md-content.md-padding              
              p Aqui Va el lindo conteido
              
          //Formulario Parte D    
          md-tab(label='Situacion Laboral')
            md-content.md-padding              
              p Aqui Va el lindo conteido
              
          //Formulario Parte E
          md-tab(label='Institucion Educativa')
            md-content.md-padding              
              p Aqui Va el lindo conteido
              
          //Formulario Parte F
          md-tab(label='Contacto')
            md-content.md-padding              
              p Aqui Va el lindo conteido
              
              
    // Angular Material requires Angular.js Libraries
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js')
    // Angular Material Library
    script(src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js')
    // Your application bootstrap
    script(src='/client/js/app.js')
