html(lang='en' ng-app='Questions')
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Angular Material style sheet
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css')
    link(rel="stylesheet", href="/client/css/style.css")
  body()
    div(layout='row')
      md-toolbar
        .md-toolbar-tools Bienvenidos a Seguimiento de graduados 
    div(layout='row')
      md-content(style='width:100%' ng-controller='main')
        md-tabs(md-dynamic-height='', md-border-bottom='' md-selected='selectedIndex')
          //Formulario Parte A
          md-tab(label='Personal y Familiar')
            include parts/part_a.jade
          //Formulario Parte B
          md-tab(label='Competencias')
            //- include parts/part_b.jade
            md-content.md-padding(ng-controller='Part_B')
              md-card
                md-card-content
                  h3 Competencias Desarrolladas
                  div(layout='row' layout-align="center center" ng-repeat='competence in competences')
                    div(flex='' layout='column' layout-align="center center")
                      p {{competence[0]}}
                    div(flex='' layout='column' layout-align="center center")
                      md-input-container
                        label Nivel
                        md-select(ng-model='competence[1]')
                          md-option(value="1") Muy Insatisfecho
                          md-option(value="2") Insatisfecho
                          md-option(value="3") Satisfecho
                          md-option(value="4") Muy Satisfecho
              
                          
          //Formulario Parte C
          md-tab(label='Plan de Vida')
            md-content.md-padding              
              p Aqui Va el lindo conteido
              md-button(class="md-raised md-primary" ng-click='next()') Continuar
              md-button(class="md-raised md-primary" ng-click='previous()') Regresar
              
          //Formulario Parte D    
          md-tab(label='Situacion Laboral')
            md-content.md-padding              
              p Aqui Va el lindo conteido
              md-button(class="md-raised md-primary" ng-click='next()') Continuar
              md-button(class="md-raised md-primary" ng-click='previous()') REgresar
              
          //Formulario Parte E
          md-tab(label='Institucion Educativa')
            md-content.md-padding              
              p Aqui Va el lindo conteido
              md-button(class="md-raised md-primary" ng-click='next()') Continuar
              md-button(class="md-raised md-primary" ng-click='previous()') REgresar
              
          //Formulario Parte F
          md-tab(label='Contacto')
            md-content.md-padding              
              p Aqui Va el lindo conteido
              md-button(class="md-raised md-primary" ng-click='next()') Continuar
              md-button(class="md-raised md-primary" ng-click='previous()') REgresar
              
              
    // Angular Material requires Angular.js Libraries
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js')
    // Angular Material Library
    script(src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js')
    // Your application bootstrap
    script(src='/client/js/app.js')
