div(layout='row')
  md-content(style='width:100%' ng-controller='main')
    md-tabs(md-dynamic-height='', md-border-bottom='' md-selected='selectedIndex')
      //Formulario Parte A
      md-tab(label='Personal y Familiar')
        include parts/part_a.jade
      //Formulario Parte B
      md-tab(label='Competencias')
        include parts/part_b.jade            
      //Formulario Parte C
      md-tab(label='Plan de Vida')
        include parts/part_c.jade
      //Formulario Parte D    
      md-tab(label='Situacion Laboral')
        include parts/part_d.jade
      //Formulario Parte E
      md-tab(label='Institucion Educativa')
        include parts/part_e.jade
      //Formulario Parte F
      md-tab(label='Contacto')
        include parts/part_f.jade  
  
